body, html, div {
  margin: 0;
  padding: 0;
}
div.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
svg.canvas {
  border: 1px solid black;
  margin: 0;
}
div.controls {
  text-align: center;
  padding: 0.4em 0.8em 0.2em;
  position: relative;
}
button.right {
  position: absolute;
  right: 0;
}
button.text {
  background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1);
  background: -o-linear-gradient(top,  #ebebeb,  #a1a1a1);
  background: -webkit-gradient(linear, left top, left bottom,
                               from(#ebebeb), to(#a1a1a1));
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px black;
}
button.text:hover {
  background: -moz-linear-gradient(top,  #04acec,  #0186ba);
  background: -o-linear-gradient(top,  #04acec,  #0186ba);
  background: -webkit-gradient(linear, left top, left bottom,
                               from(#04acec), to(#0186ba));
}
button.image {
  background: none;
  border: none;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}
button.image svg {
  width: 38px;
  height: 38px;
  margin: 4px;
}
button.image:hover, button.image.active {
  background: pink;
  outline: none;
}
button.image.swell:hover svg, button.image.swell.active svg {
  width: 44px;
  height: 44px;
  margin: 1px;
}
div.separator {
  font-size: 45px;
  display: inline;
  border-left: 1px dotted #ccc;
  vertical-align: top;
}
g.oldFrame > circle {
  fill: grey
}
g.oldFrame > path {
  stroke: grey
}
g.oldFrame {
  opacity: 0.5
}
circle.eraseOutline {
  fill: none;
  stroke: black;
  stroke-dasharray: 1 1.5;
  stroke-width: 0.25;
}
div.overlay {
  display: table;
  position: fixed;
  left: 0; top: 0; width: 100%; height: 100%;
  background-color:rgba(0,0,0,0.7);
  z-index: 100;
  margin: 0;
  padding: 0;
  overflow: hidden
}
div.overlay-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
div.overlay-contents {
  position: relative;
  top: -50%;
  max-width: 16em;
  margin: 1em auto;
  padding: 1.8em 2.5em; border-radius: 1em;
  background: white;
  text-align: center;
  font-size: 1.5em;
  display: none;
}
div.overlay-contents.fadeOut {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
}
@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-o-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-ms-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
