/* Previous (greyed-out) animation frames */
g.prevFrames circle {
  fill: grey;
}
g.prevFrames path {
  stroke: grey;
}
g.prevFrames {
  opacity: 0.4;
  pointer-events: none;
}
g.oldFrames {
  opacity: 0.7;
}
g.nextFrames {
  display: none
}
