Options -Indexes
<Files ~ "\.(inc)$">
  order allow,deny
  deny from all
</Files>

<ifModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteBase /api/
  RewriteRule ^walls$ _walls.php [L]
  RewriteRule ^walls/([0-9]+)$ _walls.php?wallId=$1 [L]
  RewriteRule ^walls/byname/([^.\/?]+)$ _walls.php?wallName=$1 [L]
  RewriteRule ^walls/([0-9]+)/sessions$ _sessions.php?wallId=$1 [L]
  RewriteRule ^walls/byname/([^.\/?]+)/sessions$ _sessions.php?wallName=$1 [L]
  RewriteRule ^walls/([0-9]+)/sessions/([0-9]+)$ _sessions.php?wallId=$1&sessionId=$2 [L]
  RewriteRule ^walls/byname/([^.\/?]+)/sessions/([0-9]+)$ _sessions.php?wallName=$1&sessionId=$2 [L]
  RewriteRule ^walls/([0-9]+)/characters$ _characters.php?wallId=$1 [L]
  RewriteRule ^walls/byname/([^.\/?]+)/characters$ _characters.php?wallName=$1 [L]
</ifModule>
