Options -Indexes
<Files ~ "\.(inc)$">
  order allow,deny
  deny from all
</Files>

<ifModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteBase /api/
  # Wall list
  RewriteRule ^walls$ _walls.php [L]
  RewriteRule ^walls/all$ _walls.php?showAll=1 [L]
  # Wall information
  RewriteRule ^walls/([0-9]+)$ _walls.php?wallId=$1 [L]
  RewriteRule ^walls/byname/([^.\/?]+)$ _walls.php?wallName=$1 [L]
  # Live feed
  RewriteRule ^walls/([0-9]+)/live$ _live.php?wallId=$1 [L]
  RewriteRule ^walls/byname/([^.\/?]+)/live$ _live.php?wallName=$1 [L]
  # Session list
  RewriteRule ^walls/([0-9]+)/sessions$ _sessions.php?wallId=$1 [L]
  RewriteRule ^walls/byname/([^.\/?]+)/sessions$ _sessions.php?wallName=$1 [L]
  # Session info
  RewriteRule ^walls/([0-9]+)/sessions/([0-9]+)$ _sessions.php?wallId=$1&sessionId=$2 [L]
  RewriteRule ^walls/byname/([^.\/?]+)/sessions/([0-9]+)$ _sessions.php?wallName=$1&sessionId=$2 [L]
  # Character upload/management
  RewriteRule ^walls/([0-9]+)/characters$ _characters.php?wallId=$1 [L]
  RewriteRule ^walls/byname/([^.\/?]+)/characters$ _characters.php?wallName=$1 [L]
  RewriteRule ^characters/([0-9]+)$ _characters.php?charId=$1 [L]
  # Character email
  RewriteRule ^characters/([0-9]+)/email$ _character_email.php?charId=$1 [L]
  # Characters by session
  RewriteRule ^walls/([0-9]+)/sessions/([0-9]+)/characters$ _characters.php?wallId=$1&sessionId=$2 [L]
  RewriteRule ^walls/byname/([^.\/?]+)/sessions/([0-9]+)/characters$ _characters.php?wallName=$1&sessionId=$2 [L]
</ifModule>
