div.canvas-background {
  background-image: none;
  /* Fallback for older browsers */
  background-color: white;
  /* Fallback syntax for WebKit which doesn't do four-value syntax yet (WebKit
   * bug 37514) */
  background: url('tree.png') right bottom no-repeat,
              url('mountains.jpg') left top repeat-x,
              white;
  /* Full effect */
  background: url('tree.png') right -50px bottom no-repeat,
              url('mountains.jpg') left 10% top repeat-x,
              white;
  background-size: auto 70%, auto 60%;
}
