Options -Indexes
<ifModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !index
  RewriteBase /
  RewriteRule ^([^/]+)$ /wall/index.php?wall=$1 [L]
  RewriteRule ^([^/]+)/sessions/([0-9]+)$ /wall/test.php?wall=$1&sessionId=$2
  RewriteRule ^([^/]+)/test$ /wall/test.php?wall=$1 [L]
</ifModule>
php_flag short_open_tag off
