/* Page layout */
body, html, div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div.container {
  display: table;
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  background: white; /* Needed for when we go full-screen */
}
div.container {
  display: table-row;
}
div.column {
  display: table-cell;
  vertical-align: top;
}

svg.canvas {
  border: 2px solid black;
  margin: 0;
}

/* Control boxes */
div.controls {
  text-align: center;
  padding: 0.4em 0.8em 0.2em;
  position: relative;
}
div.controls.vertical button {
  display: block;
}
div.controls.vertical button.image {
  margin: 0.1em auto;
}
div.controls.vertical button.text {
  margin: 2em 0 1em;
}
div.controls.vertical div.separator {
  display: block;
  border-top: 1px dotted #ccc;
  border-left: none;
  max-height: 0.2em;
}
div.separator {
  font-size: 45px;
  display: inline;
  vertical-align: top;
  pointer-events: none;
}

/* Buttons */
button.right {
  position: absolute;
  right: 0;
}
button.text {
  background: -moz-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -o-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -webkit-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -ms-linear-gradient(top, #ebebeb, #a1a1a1);
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px black;
}
button.text:hover {
  background: -moz-linear-gradient(top,  #04acec,  #0186ba);
  background: -o-linear-gradient(top,  #04acec,  #0186ba);
  background: -webkit-linear-gradient(top,  #04acec,  #0186ba);
  background: -ms-linear-gradient(top,  #04acec,  #0186ba);
}
button.text:disabled:hover {
  background: -moz-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -o-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -webkit-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -ms-linear-gradient(top, #ebebeb, #a1a1a1);
}
button.image {
  background: none;
  border: none;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}
button.image svg {
  width: 38px;
  height: 38px;
  margin: 4px;
}
button.image:hover, button.image.active {
  background: pink;
  outline: none;
}
button.image.swell:hover svg, button.image.swell.active svg {
  width: 44px;
  height: 44px;
  margin: 1px;
}
circle.eraseOutline {
  fill: none;
  stroke: black;
  stroke-dasharray: 1 1.5;
  stroke-width: 0.25;
}

/* Previous (greyed-out) animation frames */
g.prevFrames circle {
  fill: grey
}
g.prevFrames path {
  stroke: grey
}
g.prevFrames {
  opacity: 0.5
}
g.oldFrames {
  opacity: 0.4
}
g.nextFrames {
  display: none
}

/* Error/notice overlay */
div.overlay {
  display: table;
  position: fixed;
  left: 0; top: 0; width: 100%; height: 100%;
  background-color:rgba(0,0,0,0.7);
  z-index: 100;
  margin: 0;
  padding: 0;
  overflow: hidden
}
div.overlay-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
div.overlay-contents {
  position: relative;
  top: -50%;
  width: 20em;
  max-width: 90%;
  margin: 1em auto;
  padding: 1.8em 2.5em;
  border-radius: 1em;
  background: white;
  text-align: center;
  font-size: 1.5em;
  display: none;
}
div.overlay-contents input {
  font-size: 1em;
}
div.overlay-contents input.placeholder {
  color: lightgrey;
}
div.overlay-contents input.placeholder:-moz-ui-invalid {
  box-shadow: none;
}
div.overlay-contents div.field-row {
  margin: 0.5em 0;
}
div.async-progress {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: -16px;
}
.async-progress.waiting {
  background: url('../img/little-spinner.gif') no-repeat bottom left;
}
.async-progress.failed {
  background: url('../img/cross.png') no-repeat bottom left;
}
.async-progress.ok {
  background: url('../img/tick.png') no-repeat bottom left;
}
img.qrcode {
  display: block;
  margin: 0 auto;
}

/* Overlay fadeout animation */
div.overlay-contents.fadeOut {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
}
@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-o-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-ms-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
