/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Common styles for Parapara wall site including the wall maker, gallery
 * listing, and other supporting materials.
 */

/*
 * Page style
 */
body {
  background-color: #F5F1E8;
  background-image: url(/img/bg-sand.png);
  background-repeat: repeat-x;
}
#page, header, footer {
  max-width: 1170px;
  margin: 0 auto;
}
#page {
  padding-bottom: 0.5em;
}

/*
 * Tab bar
 */
.top-runner {
  border-top: 2px solid #fff;
}
header {
  border-bottom: 1px solid #523326;
  width: 100%;
}
header nav {
  display: block;
  text-align: right;
  width: 100%;
}
a.mozilla-tab {
  float: right;
}
a.mozilla-tab img {
  border-width: 0;
}

/*
 * Heading
 */
header .heading {
  padding: 0 0.3em 0em;
}
header h1 {
  margin: 0.4em 0 0;
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 50px;
  margin-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
  color: #362d10;
}

/*
 * Footer
 */
footer {
  background: #e5e2dd;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  text-align: right;
  color: #666;
}
footer form {
  margin-bottom: 0;
}
footer label {
  vertical-align: bottom;
}
footer select {
  margin-right: 0.75em;
  opacity: 0.7;
}
footer select option {
  padding: 0.1em;
}

/*
 * Form controls
 */
.btn-primary {
  background: rgb(61, 51, 20);
}
.btn {
  border-radius: 12px;
}
.btn:not(.btn-mini):not(.btn-small):not(.btn-media) {
  font-size: 20px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
input[type="text"].input-xlarge {
  padding: 10px;
  height: auto;
}

/*
 * Icon lists and thumbnails
 *
 * (Icon lists are our lightweight containers used for the top page etc. whilst
 *  thumbnails are the bootstrap things)
 */
.iconList {
  margin-top: 2em;
  margin-bottom: 2em;
}
.iconList, .thumbnails {
  text-align: center;
}
ul.thumbnails {
  /* Reset bootstrap styling for ul's */
  margin-top: 1em; 
}
.iconList li {
  list-style: none;
  display: inline-block;
  margin: 0.5em;
}
.iconList li a, .thumbnail {
  /* Positioning */
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  /* Background */
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.iconList li a:hover, .thumbnail:hover,
.iconList li a:active, .thumbnail:active {
  /* Hover/active style of background */
  background-color: #F7FFCF;
  border-color: #B7C280;
}
.thumbnail {
  padding: 10px;
}
.iconList a, .thumbnail a {
  /* Text styling of links */
  color: black;
  text-decoration: none;
}
.iconList li img, .thumbnail img {
  /* Styling of embedded images */
  border-radius: 6px;
}
.iconList .label, .thumbnail .label, .thumbnail .wall-label {
  display: block;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;

  /* Clear bootstrap styles */
  color: black;
  background: none;
  text-shadow: none;
  white-space: normal;
}
.label .subtitle {
  display: block;
  font-weight: normal;
  margin-top: 5px;
  font-size: 90%;
}
.label time {
  white-space: nowrap;
}

/*
 * Session style
 */
li.session {
  display: block;
  width: 220px;
}
