Options       ExecCGI +FollowSymLinks Includes -MultiViews
DirectorySlash Off
RewriteEngine on
RewriteRule ^(\d+)$ gallery.php?id=$1 [L]

# If we have a request for xx/preview.svg and xx.preview.svg exists, return it
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}/../$1.preview.svg -f
RewriteRule ^(\d+)/preview.svg$ $1.preview.svg [L]

# Otherwise if we have xx/preview.svg, call preview.php with the id
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(\d+)/preview.svg$ preview.php?id=$1 [L]
