Options       ExecCGI +FollowSymLinks Includes -MultiViews
RewriteEngine on
RewriteRule ^(\d+)$ gallery.php?id=$1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(\d+)/preview.svg$ preview.php?id=$1
