<?php
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

$config = array(
  'db' => array(
    'dsn' => 'mysql://user:password@localhost/parapara',
    // XXX The following will be removed eventually
    'user' => '',
    'password' => '',
    'database' => 'parapara'
  ),
  'characters' => array(
    'path' => '../characters/',
    'accept_new' => true 
  ),
  'templates' => array(
    'path' => '../../templates/'
  ),
  'bitly' => array(
    'login' => '',
    'apiKey' => ''
  ),
  'mail' => array(
    'from' => ''
    // The values for 'transport' and 'params' are passed directly onto PEAR 
    // Mail and are documented there:
    // http://pear.php.net/manual/en/package.mail.mail.factory.php
    'transport' => 'mail',
    'params' => ''
  ),
  'net' => array(
    'certfile' => realpath(dirname(__FILE__) . '/CACerts/cacert.pem')
  )
);
?>
