<?php
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

$config = array(
  'db' => array(
    'dsn' => 'mysql://user:password@localhost/parapara',
    // XXX The following will be removed eventually
    'user' => '',
    'password' => '',
    'database' => 'parapara'
  ),
  'editor' => array(
    'url' => 'http://parapara-editor.mozlabs.jp/',
    'upload_server' => 'http://parapara.mozlabs.jp/'
  ),
  'characters' => array(
    // Path to characters folder relative to public
    // (No trailing slash is needed. If added it will be removed.)
    'path' => 'characters',
    // Maximum size of a character file in bytes
    'max_size' => '500000',
    // Should URLs to the characters be published after sending the animation?
    // We disable this when running on an ad-hoc network for example since the
    // URLs won't be useful.
    //
    // If this parameter is absent or *anything* other than false it we will
    // publish the URL
    'publish_url' => true
  ),
  'templates' => array(
    // Path to templates folder relative to 'wall' (i.e. the parent of 'public')
    'path' => 'templates'
  ),
  'bitly' => array(
    'login' => '',
    'apiKey' => ''
  ),
  'mail' => array(
    'from' => ''
    // The values for 'transport' and 'params' are passed directly onto PEAR 
    // Mail and are documented there:
    // http://pear.php.net/manual/en/package.mail.mail.factory.php
    //
    // If this is not set, the mail function will be disabled
    //
    // e.g. (1) Use mail
    //  'transport' => 'mail',
    //  'params' => ''
    //
    // e.g. (2) Use SMTP server
    //  'transport' => 'smtp',
    //  'params' => array(
    //    'host' => 'ssl://smtp.server...',
    //    'port' => '465',
    //    'auth' => true,
    //    'username' => 'username',
    //    'password' => 'password',
    //    'timeout' => 5,
    //  )
    //
    // NOTE: In order to use SSL it is necessary to install the following files
    // which are not included in the repository due to differing license
    // requirements
    //
    //   wall/lib/PEAR/Net/SMTP.php
    //   wall/lib/PEAR/Net/Socket.php
    //
    // e.g. (3) Disable mail
    // 'transport' => ''
    //
    'transport' => 'mail',
    'params' => ''
  ),
  'net' => array(
    'certfile' => realpath(dirname(__FILE__) . '/CACerts/cacert.pem')
  )
);
?>
