/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Base styles
 */

body {
  margin: 0;
  padding: 0;
  background-color: #F5F1E8;
  background-image: url(../img/bg-sand.png);
  background-repeat: repeat-x;
}

h2 {
  font-weight: normal;
}

h2:before {
  content:"◆　";
}

h3 {
  font-weight: normal;
  margin-left: 1em;
}

h3:before {
  content:"●　";
}

#main-container {
  width: 600px;
  margin: 0 auto;
}

a.button, button {
  width: 200px;
  border-radius: 10px;
  vertical-align: middle;
  background-color: rgb(61, 51, 20);
  text-align: center;
  padding: 0.5em 0;
  margin: 2em auto 1.5em auto;
  color: white;
}

a.button {
  text-decoration: none;
  display: block;
}

a.button:hover, button:hover {
  background-color: black;
}

button {
  font-size: 16px;
}

.center {
  text-align: center;
}

/*
 * Header bar
 */

#navBar > * {
  display: inline-block;
}

#navBar {
  text-align: right;
}

header {
  width: 600px;
  height: 100px;
  background-image: url(../img/header_wall_image.png);
  background-repeat: none;
}

/*
 * Login
 */

#loginStatus {
  font-size: 12px;
}

#loginError {
  color: red;
}

/*
 * Navigation
 */
.screen {
  display: none;
}

/*
 * Common styles
 */

.callout {
  width: 80%;
  max-width: 800px;
  margin: 0.3em;
  padding: 0.8em;
  border-radius: 10px;
  vertical-align: middle;
  line-height: 1.8em;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Login screen
 */

.wallExplain {
  background: #fc3;
  border: 1px solid #a40;
}
.loginExplain {
  background: #cfc;
  border: 1px solid #0d0;
}
.loginButtonLarge {
  text-align: center;
}

/*
 * Home screen
 */
#screen-home a {
  text-decoration: none;
}

a.newWallLink {
  width: 200px;
}

#screen-home hr {
  background: url(../img/line.png) no-repeat;
  width: 560px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

/*
 * wall list
 */
#wallList li {
  display: inline-block;
  width: 14em;
  margin-bottom: 1em;
}

#wallList li:nth-child(odd){
  margin-right: 3em;
}

#wallList .thumbnail {
  width: 14em;
  height: 10em;
  line-height: 10em;
  border-radius: 10px;
  background-color: rgb(61, 51, 20);
  vertical-align: middle;
  text-align: center;
}

#wallList .thumbnail img {
  width: 12em;
  height: 8em;
  border-radius: 10px;
  vertical-align: middle;
}

#wallList .label {
  text-align: center;
}

/*
 * Create wall wizard
 */
#screen-new {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#screen-new button {
  padding: 0.4em 1.2em;
  margin: 0 0.3em;
}

#create-eventName {
  max-width: 20em;
  margin-left: 2em;
  margin-bottom: 1em;
}

#designSelector {
  margin-bottom: 2em;
}

div.error {
  background: rgb(255, 221, 221);
  border: 1px dashed red;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  -moz-transition: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition: all;
  -webkit-transition-duration: 0.3s;
  -ms-transition: all;
  -ms-transition-duration: 0.3s;
  -o-transition: all;
  -o-transition-duration: 0.3s;
}
div.error.hidden {
  background: rgba(255, 221, 221, 0);
  height: 0;
  line-height: 0;
  padding: 0;
  overflow: hidden;
  border-width: 0;
}
.designGrid {
  display: block;
  text-align: center;
  margin: 1em;
}
.designGrid p {
  margin: 0;
}
.designGrid label input[type=radio] {
  display: none;
}
.designThumb {
  display: inline-block;
  margin: 1.5%;
  padding: 3%;
  border-radius: 0.8em;
  border-width: 3px;
  border-style: dashed;
  border-color: rgba(0,0,0,0);
}
.designThumb * {
  /* Sadly, this doesn't seem to work for Opera... */
  pointer-events: none;
}
.designThumb.selected {
  background: #ffed8b;
  border-color: #f7931e;
}
.designThumb:hover {
  border-color: blue;
}
.designThumb iframe {
  width:12em;
  height:8em;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  overflow: hidden;
}

/*
 * Common form formatting
 */
.eventName, .eventLocation {
  width: 90%;
  max-width: 20em;
}
.eventDescr {
  width: 90%;
  height: 4.5em;
}
form dt {
  font-weight: bold;
  margin: 20px 2px 8px;
}
form dd {
  margin-left: 0;
}
input[type=text], input[type=password], textarea {
  font-size: 1.5em;
  font-family: sans-serif;
  padding: 6px;
}
label.optional:after {
  content: " (任意)";
  color: grey;
  font-size: smaller;
}

label.manage-title {
  font-weight: bold;
}

label.manage-title:after {
  font-weight: bold;
  content: "：";
}

label.manage-message {
  color: black;
}

label.manage-message.error {
  color: red;
}

.tab {
  border: 1px solid gray;
  margin: 16px;
}

.clickable {
  color: orange;
  cursor: pointer;
}
