/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Base styles
 */

body {
  margin: 0;
  padding: 0;
}

/*
 * Header bar
 */

#navBar > * {
  display: inline-block;
}

/*
 * Login
 */

#loginStatus {
  float: right;
  margin: 15px;
}
#loginError {
  color: red;
}

/*
 * Navigation
 */

.screen {
  display: none;
}

/*
 * Common styles
 */

.callout {
  width: 80%;
  max-width: 800px;
  margin: 0.3em;
  padding: 0.8em;
  border-radius: 10px;
  vertical-align: middle;
  line-height: 1.8em;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Login screen
 */

.wallExplain {
  background: #fc3;
  border: 1px solid #a40;
}
.loginExplain {
  background: #cfc;
  border: 1px solid #0d0;
}
.loginButtonLarge {
  text-align: center;
}

/*
 * Home screen
 */
.newWallLink {
  background: #fc3;
  border: 1px solid #a40;
  text-align: center;
}

/*
 * Create wall wizard
 */
#screen-new {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}
#screen-new .page {
  min-height: 18em;
}
#screen-new button {
  padding: 0.4em 1.2em;
  margin: 0 0.3em;
}
.cancelButton {
  float: left;
}
.wizardNavButtons {
  float: right;
}
.designGrid {
  display: block;
  text-align: center;
  margin: 1em;
}
.designGrid label input[type=radio] {
  display: none;
}
.designThumb {
  display: inline-block;
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 0.8em;
  border-width: 3px;
  border-style: dashed;
  border-color: rgba(0,0,0,0);
}
.designThumb * {
  /* Sadly, this doesn't seem to work for Opera... */
  pointer-events: none;
}
.designThumb.selected {
  background: #ffed8b;
  border-color: #f7931e;
}
.designThumb:hover {
  border-color: blue;
}
.designThumb object {
  width:12em;
  height:8em;
}

/*
 * Common form formatting
 */
.eventName, .eventLocation {
  width: 90%;
  max-width: 20em;
}
.eventDescr {
  width: 90%;
  height: 4.5em;
}
form dt {
  font-weight: bold;
  margin: 20px 2px 8px;
}
form dd {
  margin-left: 0;
}
input[type=text] {
  font-size: 1.5em;
}
label.optional:after {
  content: " (任意)";
  color: grey;
  font-size: smaller;
}
