/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Base styles
 */
h2, h3 {
  font-weight: normal;
}
h2 {
  margin-top: 1.5em;
}
.center {
  text-align: center;
}
*[aria-hidden=true] {
  display: none !important;
}

/*
 * Navigation
 */
.screen {
  /* Prevent margin collapsing */
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
}
.screen nav {
  margin: 1em;
}

/*
 * Common styles
 */
.callout {
  width: 80%;
  max-width: 800px;
  margin: 1em;
  padding: 0.8em;
  border-radius: 10px;
  line-height: 1.8em;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Buttons
 */
a.button, button {
  display: inline-block;
  width: 200px;
  border-radius: 12px;
  vertical-align: middle;
  background-color: rgb(61, 51, 20);
  text-align: center;
  padding: 0.5em 0;
  margin: 0 1em;
  color: white;
  font-size: 18px;
}
a.button {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
button {
  border-width: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
a.button:hover, button:hover {
  background-color: black;
}
button[disabled], a.button.disabled {
  background-color: lightgrey;
}
a.button.center, button.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Arrow buttons
 */
button.arrow, a.button.arrow {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
button.arrow.left, a.button.arrow.left {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 200 36' height='100%' width='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='rgb(61, 51, 20)' d='M200,5c0,-2,-2,-5,-5,-5h-168c-6,0,-26,14,-26,18c0,4,20,18,26,18h168c3,0,5,-2,5,-5z'/></svg>");
}
button.arrow.right, a.button.arrow.right {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 200 36' height='100%' width='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='rgb(61, 51, 20)' d='M0,5c0,-2,2,-5,5,-5h168c6,0,26,14,26,18c0,4,-20,18,-26,18h-168c-3,0,-5,-2,-5,-5z'/></svg>");
}
button.arrow.left:hover, a.button.arrow.left:hover {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 200 36' height='100%' width='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='black' d='M200,5c0,-2,-2,-5,-5,-5h-168c-6,0,-26,14,-26,18c0,4,20,18,26,18h168c3,0,5,-2,5,-5z'/></svg>");
}
button.arrow.right:hover, a.button.arrow.right:hover {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 200 36' height='100%' width='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='black' d='M0,5c0,-2,2,-5,5,-5h168c6,0,26,14,26,18c0,4,-20,18,-26,18h-168c-3,0,-5,-2,-5,-5z'/></svg>");
}

/*
 * Header bar
 */
header {
  background-image: url('../img/bg-diamond.png');
}
header .heading {
  background-image: url('../img/header-wall-maker.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#loginStatus {
  display: inline-block;
  font-size: 13px;
}

/*
 * Loading spinner
 */
img.spinner {
  margin: 2em auto;
  display: block;
}

/*
 * Message sections
 */
div.message {
  width: 60%;
  text-align: center;
  padding: 1em;
  margin: 1em auto;
  border-radius: 1em;
  /* Make message divs expand in-place */
  transition-property: height, margin, padding;
  transition-duration: 0.3s;
}
/* Make hidden message divs simply have no size (and not be display: none)
 * so they can transition in */
div.message[aria-hidden=true] {
  display: block !important;
  padding: 0;
  margin: 0;
  font-size: 0;
  border-width: 0;
  background-color: rgba(255, 221, 221, 0);
  height: 0;
  line-height: 0;
  overflow: hidden;
}
div.message.error {
  background-color: rgba(255, 221, 221, 0.6);
  border: 1px solid rgba(120, 0, 0, 0.1);
}
div.message.info {
  background-color: rgba(221, 255, 221, 0.6);
  border: 1px solid rgba(0, 160, 0, 0.25);
}
div.message button, div.message a.button {
  display: inline-block;
  margin-top: 1.5em;
  margin-button: 0.5em;
}

/*
 * Login screen
 */
#loginError {
  background: papayawhip;
  border: 1px solid #aa0;
}
.loginExplain {
  background: #cfc;
  border: 1px solid #0d0;
}
.loginButtonLarge {
  text-align: center;
}

/*
 * Home screen
 */
#screen-home a {
  text-decoration: none;
}
a.newWallLink {
  width: 200px;
}
hr {
  border: none;
  border-top: 2px dashed black;
  width: 95%;
  height: 1px:
  display: block;
  margin: 20px auto;
}

/*
 * Wall list
 */
#wallSummary {
  margin-top: 2em;
}
#wallSummary ul {
  padding: 0;
  text-align: center;
  margin: 0.5em 0;
}
#wallSummary li {
  display: inline-block;
  margin: 0 15px 1em 15px;
}
#wallSummary .thumbnail {
  display: block;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(61, 51, 20);
  vertical-align: middle;
}
#wallSummary .thumbnail img {
  border-radius: 10px;
  vertical-align: middle;
}
#wallSummary .label {
  margin-top: 5px;
  text-align: center;
}
#firstTimeHome {
  text-align: center;
  background: #cfc;
  border: 1px solid #0d0;
}
#wallSummaryError {
  text-align: center;
}

/*
 * Create wall wizard
 */
#screen-new {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#screen-new button {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
#create-name {
  width: 90%;
  max-width: 20em;
}
#screen-new .designSelection {
  margin-bottom: 2em;
}

/*
 * Design selection graphical radio buttons
 */
.designSelection {
  display: block;
  text-align: center;
  margin: 0.5em;
}
.designSelection label {
  display: inline-block;
  margin: 0.2em;
  padding: 1em;
  border: 3px dashed rgba(0,0,0,0);
  border-radius: 0.8em;
  transition-property: all;
  transition-duration: 0.2s;
}
.designSelection label:hover {
  background: rgba(200,200,255,0.3);
  border-color: blue;
}
.designSelection label.selected {
  background: #ffed8b;
  border-color: #f7931e;
}
.designSelection label input[type=radio] {
  /* Hide the radio but don't change its position as otherwise if the radio is
   * a required field, when the browser goes to adds its UI to say, "Hey this
   * field is required!" it won't know where to put it. */
  position: absolute; /* Move out of flow */
  z-index: -1; /* Stick it behind the background */
}
.designSelection .designPreview {
  border: 1px solid black;
  border-radius: 15px;
}

/*
 * Common form formatting
 */
.eventLocation {
  width: 90%;
  max-width: 20em;
}
.eventDescr {
  width: 90%;
  height: 4.5em;
}
form dt {
  font-weight: bold;
  margin: 20px 2px 8px;
}
form dd {
  margin-left: 0;
}
input[type=text], input[type=password], textarea {
  font-size: 1.5em;
  font-family: sans-serif;
  padding: 6px;
}
label.optional:after {
  content: " (任意)";
  color: grey;
  font-size: smaller;
}
label.manage-title {
  font-weight: bold;
}
label.manage-title:after {
  font-weight: bold;
  content: "：";
}

/*
 * Management screen layout
 */
#wall-details, #wall-summary {
  margin: 0.3em 1.5em;
}
#wall-details .callout {
  background: lemonchiffon;
  border: 1px dashed orange;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  width: 90%;
}
#wall-info .message {
  width: 80%;
}

/*
 * Management screen wall summmary
 */
#manage-name {
  font-size: 1.7em;
  background: none;
  border: 1px inset transparent;
}
#manage-name:hover, #manage-name:focus {
  background: white;
  border-color: lightgrey;
}

/*
 * Tab pages
 */
menu[aria-role=tablist] {
  margin: 0;
  float: left;
  width: 150px;
  display: block;
  padding-left: 0; /* Override UA stylesheet for menus */
  margin-top: 0.5em; /* Sit below tab page's border rounding */
}
menu[aria-role=tablist] a {
  background: #dec881;
  color: white;
  text-decoration: none; /* Remove link underline */
  display: block;
  padding: 0.6em 0 0.6em 0.8em;
  margin: 0.3em 0; /* Add vertical space between tabs */
  margin-left: 1.5em; /* Push non-selected tabs in from left */
  border-radius: 0.5em 0 0 0.5em; /* Round only the left side */
}
menu[aria-role=tablist] a[aria-selected=true] {
  color: black;
  font-weight: bold;
  margin-left: 0; /* Selected tab sticks out further */
  outline: none; /* Remove focus rect from tab */
}
menu[aria-role=tablist] a[aria-selected=true],
section[aria-role=tabpanel] {
  background: #fcf6e1;
}
section[aria-role=tabpanel] {
  padding: 0.25em 1em; /* Bring controls in from sides */
  border-radius: 0.6em;
  margin-left: 150px; /* Match width of vertical tabs */
  min-height: 16em; /* Match height of vertical tab stack */
}

/*
 * Auto save style
 */
#wall-info .autosave:after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 5px;
  vertical-align: bottom;
  background-repeat: no-repeat;
}
#wall-info .autosave.editing:after {
  background-image: url('../img/pencil.png');
}
#wall-info .autosave.sending input {
  background: white;
  border-color: lightgrey;
}
#wall-info .autosave.sending:after {
  background-image: url('../img/sync.gif');
}
#wall-info .autosave.saved:after {
  background-image: url('../img/tick.png');
  /* Hide tick */
  animation-duration: 0.5s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  animation-name: hideBackground;
}
#wall-info .autosave.error input {
  background: rgb(255,200,200);
  border-color: lightgrey;
}
#wall-info .autosave.error:after {
  background-image: url('../img/cross.png');
}
@keyframes hideBackground {
  100% {
    background-position: 0 16px;
  }
}

/*
 * Session management screen
 */
#manage-running button {
  margin: 0.5em 0.2em;
}
#manage-running .running .currentWallStatus,
#manage-running .running .latestSessionTime {
  color: green;
}
#manage-running .finished .currentWallStatus,
#manage-running .finished .latestSessionTime {
  color: red;
}
#manage-running > div {
  text-align: center;
  margin: 1.2em auto;
}
#manage-running .currentWallStatus {
  font-size: 2.2em;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}
#manage-running .latestSession {
  font-size: 0.9em;
  margin: 0.5em 0;
}
#manage-running .latestSessionTime {
  font-weight: bold;
}
#manage-running .spinner {
  visibility: hidden;
}
#manage-running {
  position: relative;
}
#manage-running .spinnerContainer {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
#manage-running .updating * {
  color: lightgrey !important;
}
#manage-running .updating .spinner {
  visibility: visible;
}
