/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Base styles
 */
h2, h3 {
  font-weight: normal;
}
h3 {
  margin-left: 1em;
}
.center {
  text-align: center;
}
div[aria-hidden=true], section[aria-hidden=true] {
  display: none !important;
}

/*
 * Buttons
 */
a.button, button {
  display: inline-block;
  width: 200px;
  border-radius: 12px;
  vertical-align: middle;
  background-color: rgb(61, 51, 20);
  text-align: center;
  padding: 0.5em 0;
  margin: 0 1em;
  color: white;
  font-size: 18px;
}
a.button {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
button {
  border-width: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
a.button:hover, button:hover {
  background-color: black;
}
a.button.center, button.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Arrow buttons
 */
button.arrow, a.button.arrow {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
button.arrow.left, a.button.arrow.left {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 200 36' height='100%' width='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='rgb(61, 51, 20)' d='M200,5c0,-2,-2,-5,-5,-5h-168c-6,0,-26,14,-26,18c0,4,20,18,26,18h168c3,0,5,-2,5,-5z'/></svg>");
}
button.arrow.right, a.button.arrow.right {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 200 36' height='100%' width='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='rgb(61, 51, 20)' d='M0,5c0,-2,2,-5,5,-5h168c6,0,26,14,26,18c0,4,-20,18,-26,18h-168c-3,0,-5,-2,-5,-5z'/></svg>");
}
button.arrow.left:hover, a.button.arrow.left:hover {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 200 36' height='100%' width='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='black' d='M200,5c0,-2,-2,-5,-5,-5h-168c-6,0,-26,14,-26,18c0,4,20,18,26,18h168c3,0,5,-2,5,-5z'/></svg>");
}
button.arrow.right:hover, a.button.arrow.right:hover {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 200 36' height='100%' width='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path fill='black' d='M0,5c0,-2,2,-5,5,-5h168c6,0,26,14,26,18c0,4,-20,18,-26,18h-168c-3,0,-5,-2,-5,-5z'/></svg>");
}

/*
 * Header bar
 */
header {
  background-image: url('../img/bg-diamond.png');
}
header .heading {
  background-image: url('../img/header-wall-maker.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#loginStatus {
  display: inline-block;
  font-size: 13px;
}

/*
 * Navigation
 */
.screen {
  display: none;
  /* Prevent margin collapsing */
  padding-top: 1px;
  padding-bottom: 1px;
}
.screen nav {
  margin: 1em;
}

/*
 * Common styles
 */
.callout {
  width: 80%;
  max-width: 800px;
  margin: 0.3em;
  padding: 0.8em;
  border-radius: 10px;
  vertical-align: middle;
  line-height: 1.8em;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Login screen
 */
#loginError {
  background: papayawhip;
  border: 1px solid #aa0;
}
.loginExplain {
  background: #cfc;
  border: 1px solid #0d0;
}
.loginButtonLarge {
  text-align: center;
}

/*
 * Home screen
 */
#screen-home a {
  text-decoration: none;
}
a.newWallLink {
  width: 200px;
}
hr {
  border: none;
  border-top: 2px dashed black;
  width: 95%;
  height: 1px:
  display: block;
  margin: 20px auto;
}

/*
 * Wall list
 */
#wallSummary {
  margin-top: 2em;
}
#wallSummary ul {
  padding: 0;
  text-align: center;
  margin: 0.5em 0;
}
#wallSummary li {
  display: inline-block;
  margin: 0 15px 1em 15px;
}
#wallSummary .thumbnail {
  display: block;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(61, 51, 20);
  vertical-align: middle;
}
#wallSummary .thumbnail img {
  border-radius: 10px;
  vertical-align: middle;
}
#wallSummary .label {
  margin-top: 5px;
  text-align: center;
}
#wallSummaryLoading {
  text-align: center;
  padding: 2em 0;
}

/*
 * Create wall wizard
 */
#screen-new {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#screen-new button {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
#create-eventName {
  max-width: 20em;
  margin-left: 2em;
  margin-bottom: 1em;
}
#designSelector {
  margin-bottom: 2em;
}
div.error {
  background: rgb(255, 221, 221);
  border: 1px dashed red;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  -moz-transition: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition: all;
  -webkit-transition-duration: 0.3s;
  -ms-transition: all;
  -ms-transition-duration: 0.3s;
  -o-transition: all;
  -o-transition-duration: 0.3s;
}
div.error.hidden {
  background: rgba(255, 221, 221, 0);
  height: 0;
  line-height: 0;
  padding: 0;
  overflow: hidden;
  border-width: 0;
}
.designGrid {
  display: block;
  text-align: center;
  margin: 1em;
}
.designGrid p {
  margin: 0;
}
.designGrid label input[type=radio] {
  display: none;
}
.designThumb {
  display: inline-block;
  margin: 1.5%;
  padding: 3%;
  border-radius: 0.8em;
  border-width: 3px;
  border-style: dashed;
  border-color: rgba(0,0,0,0);
}
.designThumb * {
  /* Sadly, this doesn't seem to work for Opera... */
  pointer-events: none;
}
.designThumb.selected {
  background: #ffed8b;
  border-color: #f7931e;
}
.designThumb:hover {
  border-color: blue;
}
.designThumb iframe {
  width:12em;
  height:8em;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  overflow: hidden;
}

/*
 * Common form formatting
 */
.eventName, .eventLocation {
  width: 90%;
  max-width: 20em;
}
.eventDescr {
  width: 90%;
  height: 4.5em;
}
form dt {
  font-weight: bold;
  margin: 20px 2px 8px;
}
form dd {
  margin-left: 0;
}
input[type=text], input[type=password], textarea {
  font-size: 1.5em;
  font-family: sans-serif;
  padding: 6px;
}
label.optional:after {
  content: " (任意)";
  color: grey;
  font-size: smaller;
}
label.manage-title {
  font-weight: bold;
}
label.manage-title:after {
  font-weight: bold;
  content: "：";
}
label.manage-message {
  color: black;
}
label.manage-message.error {
  color: red;
}
.clickable {
  color: orange;
  cursor: pointer;
}

/*
 * Management screen layout
 */
#wall-details, #wall-summary {
  margin: 0.3em 1.5em;
}

/*
 * Tab pages
 */
menu[aria-role=tablist] {
  margin: 0;
  float: left;
  width: 150px;
  display: block;
  padding-left: 0; /* Override UA stylesheet for menus */
  margin-top: 0.5em; /* Sit below tab page's border rounding */
}
menu[aria-role=tablist] a {
  background: #dec881;
  color: white;
  text-decoration: none; /* Remove link underline */
  display: block;
  padding: 0.6em 0 0.6em 0.8em;
  margin: 0.3em 0; /* Add vertical space between tabs */
  margin-left: 1.5em; /* Push non-selected tabs in from left */
  border-radius: 0.5em 0 0 0.5em; /* Round only the left side */
}
menu[aria-role=tablist] a[aria-selected=true] {
  color: black;
  font-weight: bold;
  margin-left: 0; /* Selected tab sticks out further */
  outline: none; /* Remove focus rect from tab */
}
menu[aria-role=tablist] a[aria-selected=true],
section[aria-role=tabpanel] {
  background: #fcf6e1;
}
section[aria-role=tabpanel] {
  padding: 0.25em 1em; /* Bring controls in from sides */
  border-radius: 0.6em;
  margin-left: 150px; /* Match width of vertical tabs */
  min-height: 16em; /* Match height of vertical tab stack */
}
