/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Page layout */
body, html, div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div.container {
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  background: black; /* Needed for when we go full-screen */
}

div.controlPanel {
  position: absolute;
  background: #fdf8db;
  width: 17%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  z-index: 1;
}
div.inner-border {
  position: relative;
  border: 1px solid #5d4c18;
  border-radius: 15px;
  margin: 6px;
  min-height: -moz-calc(100% - 14px);
  min-height: -webkit-calc(100% - 14px);
  min-height: calc(100% - 14px);
}
@media screen and (max-width: 480px) {
  div.inner-border {
    margin: 3px;
    min-height: -moz-calc(100% - 8px);
    min-height: -webkit-calc(100% - 8px);
    min-height: calc(100% - 8px);
  }
}
div.controlPanel .panelContents {
  position: relative;
  width: 100%;
}
div.controlPanel #picker {
 width: 95%;
}
div.controlPanel #widths {
  width: 85%;
  padding: 10px 0 0;
}
div.controlPanel #play {
  width: 44%;
}
div.controlPanel #meter {
  margin-top: 12%;
  width: 85%;
}
div.controlPanel #end {
  margin-top: 20%;
  width: 60%;
}

#animControls {
  visibility: hidden;
  opacity: 0;
}
div.controlSet {
  position: absolute;
  width: 100%;
  -moz-transition: opacity 0.25s linear 0s;
  -webkit-transition: opacity 0.25s linear 0s;
  -ms-transition: opacity 0.25s linear 0s;
  -o-transition: opacity 0.25s linear 0s;
  transition: opacity 0.25s linear 0s;
}

/* Credit form */
span.units {
  font-size: 1.3em;
}
div.field input {
  margin-top: 0.1em;
  margin-left: 35px; /* this is the width of the star */
}
div.field input.fullWidthField {
  width: -moz-calc(100% - 35px - 1em);
  width: -webkit-calc(100% - 35px - 1em);
  width: calc(100% - 35px - 1em);
}

div.canvas {
  position: absolute;
  left: 16%;
}
div.canvas > svg {
  border: 2px solid black;
  margin: 0;
}

/* Buttons */
button.right {
  position: absolute;
  right: 0;
}
button.text {
  background: -moz-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -o-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -webkit-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -ms-linear-gradient(top, #ebebeb, #a1a1a1);
  background: linear-gradient(top, #ebebeb, #a1a1a1);
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px black;
}
button.text:hover {
  background: -moz-linear-gradient(top,  #04acec,  #0186ba);
  background: -o-linear-gradient(top,  #04acec,  #0186ba);
  background: -webkit-linear-gradient(top,  #04acec,  #0186ba);
  background: -ms-linear-gradient(top,  #04acec,  #0186ba);
  background: linear-gradient(top,  #04acec,  #0186ba);
}
button.text:disabled:hover {
  background: -moz-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -o-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -webkit-linear-gradient(top, #ebebeb, #a1a1a1);
  background: -ms-linear-gradient(top, #ebebeb, #a1a1a1);
  background: linear-gradient(top, #ebebeb, #a1a1a1);
}

/* Error/notice overlay */
div.overlay {
  display: table;
  position: fixed;
  left: 0; top: 0; width: 100%; height: 100%;
  background-color:rgba(0,0,0,0.7);
  z-index: 100;
  margin: 0;
  padding: 0;
  overflow: hidden
}
div.overlay-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
div.overlay-contents {
  position: relative;
  top: -50%;
  width: 20em;
  max-width: 90%;
  margin: 1em auto;
  padding: 1.8em 2.5em;
  border-radius: 1em;
  background: white;
  text-align: center;
  font-size: 1.5em;
  display: none;
}
div.overlay-contents input {
  font-size: 1em;
}
div.overlay-contents input.placeholder {
  color: lightgrey;
}
div.overlay-contents input.placeholder:-moz-ui-invalid {
  box-shadow: none;
}
div.overlay-contents div.field-row {
  margin: 0.5em 0;
}
div.overlay-contents div.field-note {
  color: grey;
  font-size: 0.6em;
  text-align: center;
  width: 80%;
  margin: 0 auto 0.5em;
}
div.field-row + div.field-note {
  margin-top: -0.3em;
}
div.async-progress {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: -16px;
}
.async-progress.waiting {
  background: url('../img/little-spinner.gif') no-repeat bottom left;
}
.async-progress.failed {
  background: url('../img/cross.png') no-repeat bottom left;
}
.async-progress.ok {
  background: url('../img/tick.png') no-repeat bottom left;
}
img.qrcode {
  display: block;
  margin: 0 auto;
}

/* Overlay fadeout animation */
div.overlay-contents.fadeOut {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  animation-name: fadeOut;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-o-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-ms-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
