<% _.each(designs, function(design) { %>
  <label type="radio" name="design" value="<%- design.designId %>" required>
  <% if (design.video) { %>
    <% if (design.video.length == 1) { %>
      <video class="designPreview" loop tabindex="-1"
        src="<%- design.video[0] %>"<%-
        design.thumbnail ? ' poster=' + design.thumbnail : '' %>></video>
    <% } else { %>
      <video class="designPreview" loop tabindex="-1"<%-
        design.thumbnail ? ' poster=' + design.thumbnail : '' %>>
      <% _.each(design.video, function(video) { %>
        <source src="<%- video %>">
      <% }); %>
      </video>
    <% } %>
  <% } else if (design.thumbnail) { %>
    <img class="designPreview" src="<%- design.thumbnail %>">
  <% } %>
  </label>
<% }) %>
