<% if (walls.length) { %>
<div id="wallSummaryHome">
  <nav aria-role="navigation">
    <a href="<%= appRoot %>/new" class="button newWallLink center"
      data-l10n-id="new-wall-link"></a>
  </nav>
  <hr/>
  <div id="wallSummary" class="thumbnailGrid"></div>
</div>
<% } else { %>
<div id="firstTimeHome" class="callout">
  <p data-l10n-id="no-walls"></p>
  <nav aria-role="navigation">
    <a href="<%= appRoot %>/new" class="button newWallLink center"
      data-l10n-id="new-wall-link"></a>
  </nav>
</div>
<% } %>
