<% if (walls.length) { %>
<div id="wallSummaryHome">
  <nav aria-role="navigation">
    <div class="row text-center">
      <a href="<%= appRoot %>/new" class="btn btn-large btn-primary"
        data-l10n-id="new-wall-link"></a>
    </div>
  </nav>
  <hr/>
  <div id="wallSummary" class="thumbnailGrid">
    <ul class="thumbnails">
    <% _.each(walls, function(wall) { %>
      <li class="span4">
        <a href="<%= appRoot %>/walls/<%= wall.wallId %>"
          title="<%- wall.name %>"><div class="thumbnail"><img
            src="<%= wall.thumbnail %>"><div
            class="wall-label"><%- wall.name %></div></div></a>
      </li>
    <% }); %>
    </ul>
  </div>
</div>
<% } else { %>
<div id="firstTimeHome" class="callout">
  <p data-l10n-id="no-walls"></p>
  <nav aria-role="navigation">
    <a href="<%= appRoot %>/new" class="btn btn-primary newWallLink center"
      data-l10n-id="new-wall-link"></a>
  </nav>
</div>
<% } %>
