<div class="sessionButtons">
  <button type="button" class="btn btn-small refresh"
    data-l10n-id="refresh-sessions"><img
    data-src="{{appRoot}}/img/refresh.svg"></button>
  <button type="button" class="btn btn-small btn-success start-session"
    id="new-session"><span class="icon">+</span>
     <span data-l10n-id="new-session"></span></button>
</div>
<div data-hide="{{sessionsLoaded}}">
  <img data-src="{{appRoot}}/img/spinner.gif" class="spinner">
</div>
<div class="accordion" id="session-accordion" data-show="{{haveSessions}}">
  <div class="accordion-group" data-repeat="session in sessions">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
        data-parent="#session-accordion"
        data-target="#session-{{session.sessionId}}"
        data-href="{{appRoot}}/walls/{{wall.wallId}}/sessions/{{session.sessionId}}">
        <span data-l10n-id="session-title" class="session-title"
          data-l10n-args='{ "sessionId": "{{session.sessionId}}" }'></span>
        <span class="label label-success"
          data-show="{{session.running}}"
          data-l10n-id="session-running"></span>
        <span class="session-time" data-l10n-id="{{session.timeRangeL10nId}}"
          data-l10n-args='{ "startTimestamp": "{{session.start}}",
                            "startTime": "{{session.startTime}}",
                            "startDate": "{{session.startDate}}",
                            "startDatetime": "{{session.startDatetime}}",
                            "endTimestamp": "{{session.end}}",
                            "endTime": "{{session.endTime}}",
                            "endDate": "{{session.endDate}}",
                            "endDatetime": "{{session.endDatetime}}" }'></span>
      </a>
      <button type="button" class="btn btn-small btn-danger delete-session"
        data-session-id="{{session.sessionId}}"
        data-l10n-id="delete-session"><span class="icon">&times;</span></button>
    </div>
    <div id="session-{{session.sessionId}}" class="accordion-body collapse"
      data-parent="#session-accordion">
      <div class="accordion-inner">
        <button type="button" class="btn btn-small restart-session"
          data-show="{{session.canrestart}}"><span class="icon">▶</span>
           <span data-l10n-id="restart-session"></span></button>
        <button type="button" class="btn btn-small end-session"
          data-show="{{session.running}}"><span class="icon">◼</span>
           <span data-l10n-id="end-session"></span></button>
        <ul class="thumbnails">
          <li data-repeat="character in session.characters">
            <a
              data-href="{{appRoot}}/walls/{{wall.wallId}}/sessions/{{session.sessionId}}/characters/{{character.charId}}"
              title="{{character.title}}"><div
                class="thumbnail {{character.classes}}"><img
                data-src="{{character.previewUrl}}"><img
                data-src="{{appRoot}}/img/hide-overlay.svg"
                class="hide-overlay"><div
                class="character-label">{{character.title}}</div></div></a>
            <button type="button" class="delete-character"
              data-l10n-id="delete-character"
              data-char-id="{{character.charId}}"
              data-session-id="{{session.sessionId}}"><img
              data-src="{{appRoot}}/img/delete-red.svg"></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div data-show="{{noSessions}}" class="no-sessions" data-l10n-id="no-sessions">
</div>
<div class="modal hide fade" id="confirm-delete-session-modal">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <input type="hidden" name="sessionId">
    <div class="choose-your-own-adventure">
      <button type="button" class="btn btn-media session-and-characters">
        <img src="{{appRoot}}/img/session-and-characters.svg">
        <p data-l10n-id="delete-session-and-characters" class="btn-title"></p>
      </button><button type="button" class="btn btn-media session-only">
        <img src="{{appRoot}}/img/session-only.svg">
        <p data-l10n-id="delete-session-only" class="btn-title"></p>
        <p data-l10n-id="delete-session-only-descr" class="btn-descr"></p>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal"
      data-l10n-id="cancel"></a>
  </div>
</div>
<div class="modal hide fade" id="confirm-delete-character-modal">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p data-l10n-id="confirm-delete-character"></p>
  </div>
  <div class="modal-footer">
    <input type="hidden" name="sessionId">
    <input type="hidden" name="charId">
    <button type="button" class="btn btn-danger delete"
      data-l10n-id="delete"></a>
    <button type="button" class="btn" data-dismiss="modal"
      data-l10n-id="cancel"></a>
  </div>
</div>
