<div class="modal hide fade" id="character-modal">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal"
      aria-hidden="true">&times;</button>
    <img data-src="{{character.rawUrl}}" class="character">
    <!-- Hide button -->
    <!-- Delete button -->
    <ul>
      <li><label data-l10n-id="gallery-url"></label>
          <a data-href="{{character.galleryUrl}}">{{character.galleryUrl}}</a>
          <span data-show="{{character.galleryUrlShort}}">
          or <a
            data-href="{{character.galleryUrlShort}}">{{character.galleryUrlShort}}</a></span>
      <li><label data-l10n-id="svg-url"><a data-href="{{character.rawUrl}}">{{character.rawUrl}}</a>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal"
      data-l10n-id="ok"></a>
  </div>
</div>
