<h2 data-l10n-id="new-wall-heading"></h2>
<div class="message" id="create-message" hidden>
</div>
<form name="createWall">
  <input type="text" name="name" required autocomplete="off"
    maxlength="255" id="create-name" data-l10n-id="new-wall-name"
    placeholder="">
  <div class="designSelection"></div>
  <div class="center">
    <button type="submit" name="" class="submitButton"
      data-l10n-id="create"></button>
    <button type="button" class="cancel" data-l10n-id="cancel"></button>
  </div>
</form>
