<span class="highlighted-url">
  <a data-hide="{{editing}}" class="static-url" data-href="{{fullPath}}"
    >{{decodeURIComponent(fullPath)}}</a>
  <span data-show="{{editing}}" class="editable-path-wrapper">
    <span>{{basePath}}</span>
    <input type="text" class="editable-path"
      value="{{decodeURIComponent(editablePath)}}"
      size="{{editablePathFieldSize}}" data-placement="top">
  </span>
</span>
<span class="controls" data-hide="{{editing}}">
  <button type="button" class="icon editUrl"
          title="" data-l10n-id="edit-wall-url"></button>
</span>
<span class="controls" data-show="{{editing}}">
  <button type="button" class="btn btn-mini btn-primary saveUrl"
    data-l10n-id="save"></button>
  <button type="button" class="btn btn-mini cancelSaveUrl"
    data-l10n-id="cancel"></button>
</span>
