/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

div.error {
  display: none;
  position: fixed;
  
  left: 50%;
  width: 400px;
  max-width: 80%;
  margin-left: -200px;
  text-align: center;
  
  top: 50%;
  margin-top: -75px;
  vertical-align: middle;
  
  background: rgb(242, 222, 222);
  border: 1px solid rgb(185, 74, 72);
  color: rgb(185, 74, 72);
  border-radius: 15px;
  padding: 35px 14px;
}
@media (max-width: 400px) {
  div.error {
    left: inherit;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
