<ifModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !index
  RewriteBase /wall-maker/
  # Match anything that doesn't have a / or a . in it
  # or that begins with 'wall/'
  RewriteRule ^(wall/)?[^/.]*$ index.html.php [L]
</ifModule>
